/* declare variables */
:root {
    --bg-color: white;
    --text-color: black;
    --sec-color: grey;
}

/* GENERAL */
html {
    box-sizing: border-box;
}
  *,
  *:before,
  *:after {
    box-sizing: inherit;
    margin: 0;
}

body {
    font-family: 'Roboto Slab', sans-serif;
    background-color: white;
    font-size: 8pt;
    width: 100vw;
    height: 100vh;
    padding: 5vh 3vw 0 3vw;
}

a {
    text-decoration: none;
}

h1 {
    font-size: xx-large;
}

h2 {
    font-size: 15pt;
    font-weight: lighter;
}

p {
    font-size: 25px;
    line-height: 1.3;
}
li {
    text-decoration: none;
    list-style: none;
}
i {
    color: var(--sec-color);
    font-size: 15pt;
} 

i:hover {
    color: var(--text-color);
}

/* SPECIFIC */
header {
    position: absolute;
    width: 94vw;
    height: max-content;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex: 1;
}

/* grid */
.my-name {
    width: 100px;
    height: 100px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
}
/* grid children */
.name-letter {
    font-size: 25pt;
    justify-self: center;
}

.social-list {
    height: 100%;
    width: 20vw;
    display: flex;
    flex: row;
    justify-content: space-around;
    align-items: center;
}

/* 
Page 1
*/

.under-construction-page {
    max-width: 50vw;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.under-construction-animation {
    max-width: 300px;
    max-height: 300px;
}

button.redirect {
    background-color: white;
    box-shadow: rgb(85, 91, 255) 0px 0px 0px 3px, rgb(31, 193, 27) 0px 0px 0px 6px, rgb(255, 217, 19) 0px 0px 0px 9px, rgb(255, 156, 85) 0px 0px 0px 12px, rgb(255, 85, 85) 0px 0px 0px 15px;
    margin-top: 30px;
    padding: 5px;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
}

a.redirect:hover {
    opacity: 75%;
}

a.redirect {
    border-radius: 5px;
    color: black;
    cursor: pointer;
}

/* 
Page old-portfolio
*/
.first-page {
    width: 94vw;
    height: 94vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
/* container of the projects: flex verti */
/* TIP: align-items stretch so items expand across the width of parent */
.projects {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.projects-header {
    flex: 1;
    margin-bottom: 100px;
}
/* TIP: wrap to put as many items as possible on 1 row */
.projects-demo {
    flex: 2;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.projects-demo a {
    margin-right: 15px;
    flex: 1;
    width: 350px;
    height: 350px;
}
.projects-demo a:hover img{
    opacity: 0.8;
}
.projects-demo a:hover .tech-stack{
    opacity: 1;
}
/* resize the img */
.project img {
    width: 250px;
    height: 250px;
}

.projects-demo a:last-child {
    margin-right: 0px;
}

.tech-stack {
    opacity: 0;
    position: relative;
    padding: 5px 15px 5px 5px;
    width: max-content;
    top: -60px;
}
.tech-stack i{
    font-size: 25pt;
    margin-right: 5px;
}

iframe {
    display: none;
    position: fixed;
    top: 12.5vh;
    left: 12.5vw;
    width: 75vw;
    height: 75vh;
    margin: auto;
    z-index: 1;
}

/* .scroll-down {
    flex: 1;
    text-align: center;
} */
/* 
Page 2
*/
.second-page {
    width: inherit;
    height: 100vh;
    padding: 5%;
}

.info-form-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 100%;
    align-items: stretch;
    justify-content: space-around;
}

.info {
    flex: 2;
    align-self: center;
}

/* add shadow animation for contact-form */
@keyframes contact-shadow {
    from {
        box-shadow:
    5px 5px 10px 10px rgba(135, 207, 235, 0.5), -5px -5px 10px 10px rgba(135, 207, 235, 0.5),
    5px 5px 15px 15px  rgba(255, 192, 203, 0.5), -5px -5px 15px 15px rgba(255, 192, 203, 0.5)
    ;
    }
    to {
        box-shadow: 5px 5px 10px 10px rgba(255, 192, 203, 0.5), -5px -5px 10px 10px rgba(255, 192, 203, 0.5), 

    5px 5px 15px 15px rgba(135, 207, 235, 0.5), -5px -5px 15px 15px rgba(135, 207, 235, 0.5)
    ;
    }
}

.contact-form {
    flex: 1;
    align-self: center;
    min-height: 85%;
    border-radius: 50px;
    animation-name: contact-shadow;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.greetings {
    text-align: center;
}
/* contact form: grid */
.form-container {
    display: grid;
    padding: 45px;
    gap: 25px;
    justify-content: space-between;
    grid-template-areas: 
    "name-label name"
    "email-label email"
    "message-label message"
    ". submit";
}

#name-label {
    grid-area: name-label;
}
#email-label {
    grid-area: email-label;
}
#message-label {
    grid-area: message-label;
}
#name {
    grid-area: name;
}
#email {
    grid-area: email;
}
#message {
    grid-area: message;
}
#submit {
    border: none;
    background-color: white;
    font-family: 'Rock Salt', cursive, sans-serif;
    grid-area: submit;
}



/* 
for smalle screen -> section: fit content
*/
@media screen and (max-width: 800px) {
    section {
        height: fit-content;
    }
    .first-page {
        height: inherit;
    }
    .form-container {
        display: flex;
        flex-direction: column;
        gap: 0;
    }
}

